@tailwind base;

html, body {
  background: url(/assets/images/bg_brown.png) repeat fixed;
  font-family: "GLF", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "GLFS", serif;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.highlight-header {
  font-size: 4rem;
  line-height: 3.5rem;
}

.flex-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-header {
  width: 40px;
  border: 3px solid #b89c6f;
  border-radius: 50%;
}

.gold {
  color: #E5C77B;
}

.bc-gold {
  border-color: #E5C77B;
}

.bg-gold {
  background-color: #E5C77B;
}

.section {
  min-height: 25rem;
  display: flex;
  align-items: center;
}

.header-alt {
  font-size: 3rem;
  display: block;
  text-align: center;
}

.page-footer-image {
  filter: grayscale(1);
  content: " ";
  position: relative;
  height: 100%;
  height: 400px;
  display: block;
  overflow: hidden;

}
.page-footer-image img {
  max-width: none;
}